body{
    background-color: teal;
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-size: 16px;
}
.flex-container{
    background-color: whitesmoke;
    width: 385px;
    padding: 25px;
    margin: 120px auto 0;
}
.heading{
    font-size: 22px;
}
.form-type{
    width: 360px;
    position: relative;
    margin-top: 6px;
    margin-bottom: 6px;
    margin-right: 6px;
    padding: 9px;
    
}
.submit{
    width: 381px;
    position: relative;
    margin-top: 6px;
    margin-bottom: 6px;
    margin-right: 6px;
    padding: 9px;
    background-color: teal;
    color: white;
   }
.Designed{
    text-align: center;
}
.message{
    margin-top: 6px;
    margin-bottom: 6px;
    margin-right: 6px;
    padding: 9px;
}
